/*responsive*/
@media(max-width:320px) {
    .logo {
        display: none !important;
    }

    .main_picture img {
        display: none;
    }

    .meals_container {
        margin: 8px !important;
    }

    .meals {
        width: 100% !important;
    }

    .header img {
        margin-top: 12px;
    }

    .meals_headline {
        display: none !important;
    }

    .icons {
        width: 16px !important;
        height: 16px !important;
    }

    p {
        margin-bottom: 0.5rem !important;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:1200px) {
    .media_basket {
        margin: 0px !important;         
    }

    .main{
        flex-direction: column;
        align-items: center;
    }

    .logo {
        display: none !important;
    }
    
    .meals_container {
        margin: 12px !important;
    }

    .mobile_visible {
        height: 100px;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        box-shadow: 0 -5px 10px rgba(0, 0, 0, 0.2);
    }

    .mobile_button {
        width: 90%;
        height: 48px;
        border-radius: 24px;
        border: 2px solid gold;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 24px;
    }
    .basket_text{
        padding: 8px;
    }
    .card{
        margin-bottom: 8px;
    }
    .card-body{
        padding: 8px;
    }
    
    .icons {
        width: 16px !important;
        height: 16px !important;
    }

}

@media(max-width:800px) {
    .main_picture img {
        display: none;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width:400px) {
   
    .time {
        display: none !important;
    }
    .meals_headline {
        display: none !important;
    }
    .main{
        flex-direction: column;
        align-items: center;
    }
    .logo {
        display: none !important;
    }

}
@media(max-width:780px){
    .card-media {
        display: flex;
        position: relative !important;
        margin-top: 12px;
        bottom: 16px;
        font-size: small;
       
    }
    
}