/*responsive*/
@media(max-width:320px){
    .main{
        display: none;
    }
    .logo{
        display: none !important;
    }
    .main_picture img {
        display: none;
    }
    .meals_container {
        margin: 8px;
    }
    .meals{
        width: 100%;
    }
    .basket{
        display: none ;
    }
    
}